<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/aboutsheet.css" />

    <link
      type="text/css"
      rel="stylesheet"
      media="screen  and (max-width:767px)"
      href="../assets/mobile.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="screen  and (max-width:1023px)"
      href="../assets/tablette.css"
    />
    <title>Cup of Tea</title>
  </head>
  <body>
    <header>
      <img class="rubbon" src="../assets/img/ribbon.svg" alt="" />
      <p>livraison offerte à partir de 65£ d'achat !</p>
      <div class="logo">
        <a href="../index.html"><img src="../assets/img/logo.png" /></a>
        <p>
          <span>Mon panier </span><i class="fas fa-shopping-cart"></i> 42,00£
        </p>
      </div>
      <nav>
        <a href="./listing.html">THES</a>
        <a href="#about us">GRAND CRUS</a>
        <a href="contact">ACCESSOIRES</a>
        <a href="contact">EPICERIE</a>
        <a class="transparent" href="./about.html">NOTRE HISTOIRE</a>
      </nav>
    </header>
    <main>
      <section class="équipe">
        <h1>Notre équipe</h1>
        <div class="amélie">
          <h2>Amélie, fondatrice de Cup of Tea</h2>
          <img src="../assets/img/amelie.jpg" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Laboriosam, ut vel dignissimos aperiam sequi pariatur ipsa
            blanditiis! Totam odio, voluptatum numquam sequi quis cupiditate
            suscipit excepturi animi debitis maxime necessitatibus?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Laboriosam, ut vel dignissimos aperiam sequi pariatur ipsa
            blanditiis! Totam odio, voluptatum numquam sequi quis cupiditate
            suscipit excepturi animi debitis maxime necessitatibus? Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Laboriosam, ut vel
            dignissimos aperiam sequi pariatur ipsa blanditiis! Totam odio,
            voluptatum numquam sequi quis cupiditate suscipit excepturi animi
            debitis maxime necessitatibus?
          </p>
        </div>
        <div class="xavier">
          <h2>Xavier, fondateur du Cup of Tea</h2>
          <img src="../assets/img/xavier.jpg" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Laboriosam, ut vel dignissimos aperiam sequi pariatur ipsa
            blanditiis! Totam odio, voluptatum numquam sequi quis cupiditate
            suscipit excepturi animi debitis maxime necessitatibus?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Laboriosam, ut vel dignissimos aperiam sequi pariatur ipsa
            blanditiis! Totam odio, voluptatum numquam sequi quis cupiditate
            suscipit excepturi animi debitis maxime necessitatibus? Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Laboriosam, ut vel
            dignissimos aperiam sequi pariatur ipsa blanditiis! Totam odio,
            voluptatum numquam sequi quis cupiditate suscipit excepturi animi
            debitis maxime necessitatibus?
          </p>
        </div>
      </section>
      <section>
        <h1>Notre concept</h1>
        <article>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
            accusamus sequi quod officia ipsa voluptatum magnam in. Dolores nam
            sequi incidunt repellendus ut ab a cupiditate natus nihil? Placeat,
            similique! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Corporis accusamus sequi quod officia ipsa voluptatum magnam in.
            Dolores nam sequi incidunt repellendus ut ab a cupiditate natus
            nihil? Placeat, similique!
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
            accusamus sequi quod officia ipsa voluptatum magnam in. Dolores nam
            sequi incidunt repellendus ut ab a cupiditate natus nihil? Placeat,
            similique! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Corporis accusamus sequi quod officia ipsa voluptatum magnam in.
            Dolores nam sequi incidunt repellendus ut ab a cupiditate natus
            nihil? Placeat, similique!
          </p>
        </article>
        <div class="concept">
          <div>
            <img src="../assets/img/concept/1.svg" alt="" />
            <h3>Lorem ipsum</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
              laboriosam cum doloremque officia illo quod ipsam dolorum
              architecto minus molestiae expedita velit repellat cumque vitae
              saepe, voluptatum accusamus, blanditiis cupiditate.
            </p>
          </div>
          <div>
            <img src="../assets/img/concept/2.svg" alt="" />
            <h3>Dolor sit</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
              laboriosam cum doloremque officia illo quod ipsam dolorum
              architecto minus molestiae expedita velit repellat cumque vitae
              saepe, voluptatum accusamus, blanditiis cupiditate.
            </p>
          </div>
          <div>
            <img src="../assets/img/concept/3.svg" alt="" />
            <h3>Amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
              laboriosam cum doloremque officia illo quod ipsam dolorum
              architecto minus molestiae expedita velit repellat cumque vitae
              saepe, voluptatum accusamus, blanditiis cupiditate.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footeroptions">
        <div class="option">
          <i class="fas fa-lock"></i>
          <p>PAIEMENT SECURISE</p>
        </div>
        <div class="option">
          <i class="fas fa-truck"></i>
          <p>MA LIVRAISON OFFERTE</p>
        </div>
        <div class="option">
          <i class="fas fa-address-card"></i>
          <p>CARTE DE FIDELITE</p>
        </div>
        <div class="option">
          <i class="fas fa-phone-alt"></i>
          <p>SERVICE CLIENT</p>
        </div>
        <div class="option">
          <i class="fas fa-check-circle"></i>
          <p>GARANTIE QUALITE</p>
        </div>
      </div>
      <div class="footercontent">
        <div class="content">
          <h4>CUP OF TEA</h4>
          <a href="contact">Notre histoire </a>
          <a href="contact">Nos boutiques</a>
          <a href="contact">Le thé de A à Z</a>
          <a href="contact">Espace clients professionnels</a>
          <a href="contact">Recrutement</a>
          <a href="contact">Contactez-nous!</a>
          <a href="contact">L'école du Thé</a>
        </div>
        <div class="content">
          <h4>COMMEANDEZ EN LIGNE</h4>
          <a href="contact">Premiére visite</a>
          <a href="contact">Aide - FAQ</a>
          <a href="contact">Service clients</a>
          <a href="contact">Suivre ma commande</a>
          <a href="contact">Conditions générales de vente </a>
          <a href="contact">Informations légales</a>
        </div>
        <div class="content">
          <h4>SUIVEZ-NOUS !</h4>
          <a href="contact">Notre histoire </a>
          <a href="contact">Nos boutiques</a>
          <a href="contact">Le thé de A à Z</a>
          <a href="contact">Espace clients professionnels</a>
        </div>
      </div>
      <div class="copyright">
        <img class="center" src="../assets/img/3wacademy.png" />
        <p>
          Cet exercice de 3W Academy est mis à disposition pour l'usage
          personnel des étudiants, Pas de Rediffusion - Attribution - Pas
          d'Utilisation Commerciale - Pas de Modification -International.
        </p>
        <p>
          Les autorisations au-delà  du champ de cette licence peuvent etre
          obtenues auprés de contact@3wa.fr. Les maquettes ont étè réalisé par
          Justine Muller
        </p>
      </div>
    </footer>
  </body>
</html>
